.container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  width: 80%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.handlers {
  display: flex;
  justify-content: center;
}